.bbs-status {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.count {
		padding-left: 22px;
		line-height: 38px;
		position: relative;
		color: #777;

		b {
			font-weight: 500;
			color: #222;
		}
		&::before {
			content: "";
			width: 15px;
			height: 18px;
			display: block;
			position: absolute;
			left: 0;
			top: 11px;
			background: url("../img/bbs_icons.png") no-repeat;
			background-position: 0 0;
		}
	}

	.bbs-search {
		.inputbox {
			display: inline-block;
			vertical-align: top;
			select {
				width: 135px;
				height: 38px;
				line-height: 38px;
			}

			&.inputtext {
				input {
					width: 240px;
					height: 38px;
					border: 1px solid #d0d0d0;
					line-height: 38px;
					padding-left: 10px;
				}
				button {
					background: #333;
					width: 80px;
					height: 38px;
					line-height: 38px;
					text-align: center;
					span {
						color: #fff;
						position: relative;
						display: inline-block;
						padding-left: 21px;
						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 4px;
							width: 17px;
							height: 17px;
							background: url("../img/bbs_icons.png") no-repeat -15px 0;
						}
					}
				}
			}
		}
	}
}
.board-view {
	margin-top: 15px;

	.titlearea {
		padding: 30px 40px;
		background: #f5f6f7;
		border-top: 1px solid #333;
		border-bottom: 1px solid #cccccc;
		position: relative;

		.date-view {
			margin-top: 20px;
			li {
				display: inline-block;
				font-size: 15px;
				position: relative;

				&.b-writer {
					padding-left: 15px;
					padding-right: 10px;
					margin-right: 10px;

					&::before {
						content: "";
						width: 10px;
						height: 10px;
						background: url("../img/bbs_icons.png") no-repeat;
						background-position: -82px 0;
						display: block;
						position: absolute;
						left: 0;
						top: 6px;
					}

					&::after {
						content: "";
						width: 1px;
						height: 13px;
						background: #b7b7b7;
						position: absolute;
						right: 0;
						top: 4px;
					}
				}

				&.b-view {
					margin-left: 30px;

					span {
						display: inline-block;
						position: relative;
						padding-left: 20px;
						padding-right: 10px;
						margin-right: 10px;
					}
					span {
						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 5px;
							width: 17px;
							height: 12px;
							background: url("../img/bbs_icons.png") no-repeat;
							background-position: -49px 0;
						}
						&::after {
							content: "";
							width: 1px;
							height: 13px;
							background: #b7b7b7;
							position: absolute;
							right: 0;
							top: 4px;
						}
					}
				}
			}
		}

		h4 {
			font-size: 22px;
			color: #333;
			font-weight: 500;
		}
	}

	img {
		max-width: 100%;
	}

	.board-content {
		padding: 70px 30px;
		line-height: 1.6;
		font-size: 16px;
		border-bottom: 1px solid #ccc;
		color: #555555;

		p {
			line-height: 1.6;
		}
	}
}

.bbs-list {
	border-top: 2px solid #777777;
	margin-top: 10px;

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 0;
		border-bottom: 1px solid #d0d0d0;

		&:hover {
			background-color: #f5f6f7;

			.b-content {
				.b-desc {
					li {
						&.b-writer {
							&::before {
								background-position: -82px 0;
							}
						}

						&.b-view {
							span {
								&::before {
									background-position: -49px 0;
								}
							}
						}
					}
				}
			}
		}

		.b-num {
			width: 5%;
			text-align: center;
			color: #777777;
		}

		.b-thumb {
			width: 20%;

			a {
				display: block;
			}
		}

		.b-content {
			width: 75%;
			padding-left: 40px;
			padding-right: 40px;

			.b-tit {
				font-size: 22px;
				font-weight: 500;
				color: #222;
				padding-bottom: 20px;
				padding-top: 5px;
				line-height: 1;
				@include ellipsis(100%);
			}
			.b-cnt {
				font-size: 16px;
				color: #777;
				line-height: 1.3;
				height: 100px;
				overflow: hidden;
				a {
					display: block;
				}
			}

			.b-desc {
				margin-top: 40px;
				li {
					display: inline-block;
					font-size: 15px;
					position: relative;

					&.b-writer {
						padding-left: 15px;
						padding-right: 10px;
						margin-right: 10px;

						&::before {
							content: "";
							width: 10px;
							height: 10px;
							background: url("../img/bbs_icons.png") no-repeat;
							background-position: -72px 0;
							display: block;
							position: absolute;
							left: 0;
							top: 6px;
						}

						&::after {
							content: "";
							width: 1px;
							height: 13px;
							background: #b7b7b7;
							position: absolute;
							right: 0;
							top: 4px;
						}
					}

					&.b-view {
						margin-left: 30px;

						span {
							display: inline-block;
							position: relative;
							padding-left: 20px;
							padding-right: 10px;
							margin-right: 10px;
						}
						span {
							&::before {
								content: "";
								position: absolute;
								left: 0;
								top: 5px;
								width: 17px;
								height: 12px;
								background: url("../img/bbs_icons.png") no-repeat;
								background-position: -32px 0;
							}
							&::after {
								content: "";
								width: 1px;
								height: 13px;
								background: #b7b7b7;
								position: absolute;
								right: 0;
								top: 4px;
							}
						}
					}
				}
			}
		}
	}
}

.pagination {
	margin-top: 40px;
	text-align: center;
	letter-spacing: -10px;

	a {
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin: 0 5px;
		text-align: center;
		display: inline-block;
		letter-spacing: 0;
		background: #fff;
		color: #999;
		box-sizing: border-box;
		vertical-align: top;
		font-size: 14px;
		&.current {
			background: #2361b4;
			color: #fff;
		}
		&.page-prev,
		&.page-next {
			background-image: url("../img/bbs_icons.png");
			background-repeat: no-repeat;
		}
		&.page-prev {
			background-position: -35px -18px;
		}
		&.page-next {
			background-position: 0 -18px;
		}
	}
}

.post-nav {
	//border-top: 1px solid #333;
	border-bottom: 1px solid #ddd;

	ul {
		display: flex;
		justify-content: space-between;
		font-size: 17px;

		li {
			width: 50%;
			height: 90px;
			padding-top: 20px;

			span {
				position: relative;
				color: #333;
				font-weight: 500;
				display: block;
			}

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-top: 5px;

				a {
					color: #777777;
					font-weight: 300;
				}
			}

			&.post-prev {
				text-align: left;
				padding-left: 45px;
				position: relative;
				padding-right: 30px;

				&::before {
					content: "";
					width: 11px;
					height: 21px;
					background-image: url("../img/bbs_icons.png");
					background-repeat: no-repeat;
					background-position: -70px -32px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -10px;
				}

				&::after {
					content: "";
					width: 1px;
					height: 60px;
					position: absolute;
					right: 0;
					top: 16px;
					background: #aaa;
				}
			}

			&.post-next {
				text-align: right;
				padding-right: 45px;
				position: relative;
				padding-left: 30px;

				&::before {
					content: "";
					width: 11px;
					height: 21px;
					background-image: url("../img/bbs_icons.png");
					background-repeat: no-repeat;
					background-position: -81px -32px;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -10px;
				}
			}
		}
	}
}

.btn-go-list {
	width: 230px;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	background-color: #fff;
	font-size: 16px;
	border: 1px solid #ddd;

	span {
		font-weight: 500;
		color: #333;
		padding: 0 28px;
	}

	span::before {
		content: "";
		width: 18px;
		height: 14px;
		background-image: url("../img/bbs_icons.png");
		background-repeat: no-repeat;
		background-position: 0 -53px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}
}

.sns-logo {
	margin-bottom: 20px;
}

.youtube-list {
	letter-spacing: -10px;
	.item {
		width: 450px;
		height: 376px;
		letter-spacing: 0;
		display: inline-block;
		vertical-align: top;
		margin-left: 37px;
		background-color: #f6f6f6;
		border: 1px solid #e3e3e3;
		margin-bottom: 30px;

		&:nth-of-type(3n + 1) {
			margin-left: 0;
		}
		.thumb {
			height: 250px;
			position: relative;

			&.thumb-video {
				&::after {
					content: "";
					z-index: 1;
					width: 85px;
					height: 55px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url("../img/ico_video.png") no-repeat;
				}
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		.desc {
			padding: 22px 20px 0 70px;
			position: relative;

			.profile {
				width: 50px;
				height: 50px;
				border: 1px solid #e3e3e3;
				border-radius: 50%;
				overflow: hidden;
				position: absolute;
				left: 20px;
				top: 20px;
			}
			.cnt {
				padding-left: 14px;

				strong {
					display: block;
					font-size: 18px;
					height: 50px;
					color: #222;
					font-weight: 500;
					line-height: 1.3;
				}

				.date {
					color: #777;
					font-size: 14px;
					margin-top: 15px;
				}
			}
		}
	}
}

.facebook-list {
	letter-spacing: -10px;

	.item {
		width: 330px;
		height: 325px;
		letter-spacing: 0;
		display: inline-block;
		vertical-align: top;
		margin-left: 30px;
		margin-bottom: 30px;

		&:nth-of-type(4n + 1) {
			margin-left: 0;
		}
		.desc {
			font-size: 17px;
			color: #666;
			.date {
				color: #333;
			}
			.title {
			}
		}

		&.type-img {
			background-color: #eeeeee;
			.thumb {
				height: 210px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.desc {
				padding: 25px 20px;
				.date {
					font-size: 15px;
					color: #333;
					line-height: 1;
					padding-bottom: 10px;
				}
				.title {
					font-size: 17px;
					height: 47px;
					word-break: break-all !important;
					line-height: 1.2;
				}
			}
		}

		&.type-txt {
			border: 1px solid #e3e3e3;
			padding: 20px 30px;

			.desc {
				.date {
					margin-bottom: 30px;
					line-height: 1;
				}
				.title {
					height: 230px;
				}
			}
		}
	}
}
@include mq("contents") {
	.contents-width.pd {
		padding: 0 2%;
	}
	.bbs-status {
		padding: 0 2%;
	}
	.bbs-list {
		margin: 10px 2%;

		.row .b-content {
			.b-tit {
				padding-top: 10px;
			}
			.b-desc {
				margin-top: 0;
			}
		}
	}

	.board-view {
		padding: 0 2%;
	}

	.youtube-list {
		.item {
			width: 32%;
			margin-left: 2%;
		}
	}
	.facebook-list .item {
		width: 23.5%;
		margin-left: 2%;
	}
}

@include mq("tablet-wide") {
	.bbs-list {
		.row {
			padding: 20px 0;
			font-size: 13px;
			.b-content {
				padding: 0 20px;
				.b-tit {
					font-size: 18px;
					padding: 10px 0;
				}
				.b-cnt {
					font-size: 14px;
					height: 60px;
				}
				.b-desc {
					li {
						font-size: 13px;
					}
				}
			}
		}
	}

	.board-view {
		.titlearea {
			padding: 20px;

			h4 {
				font-size: 18px;
			}
			.date-view {
				li {
					font-size: 14px;
				}
			}
		}
		.board-content {
			padding: 50px 20px;
			font-size: 15px;
		}
	}

	.post-nav ul {
		font-size: 14px;

		li {
			&.post-prev {
				padding-left: 25px;
			}
			&.post-next {
				padding-right: 25px;
			}
		}
	}

	.youtube-list .item {
		height: 310px;
		.thumb {
			height: 200px;
		}
		.desc {
			padding: 14px 10px 0 50px;
			.profile {
				width: 40px;
				height: 40px;
				left: 15px;
			}

			.cnt {
				strong {
					font-size: 16px;
					height: 45px;
				}
				.date {
					margin-top: 10px;
					font-size: 13px;
				}
			}
		}
	}

	.facebook-list .item {
		height: 255px;

		&.type-img {
			.thumb {
				height: 150px;
			}

			.desc {
				padding: 15px 20px 0 20px;

				.title {
					font-size: 15px;
				}
			}
		}
		&.type-txt {
			padding: 15px 20px;
			.desc {
				font-size: 15px;
				.title {
					height: 180px;
				}
			}
		}
	}
}

@include mq("tablet") {
	.bbs-status {
		font-size: 14px;
		.bbs-search .inputbox {
			select {
				width: 80px;
			}
			&.inputtext input {
				width: 130px;
			}
		}
	}

	.youtube-list .item {
		width: 49%;
		margin-left: 1%;
		margin-bottom: 20px;
		&:nth-of-type(3n + 1) {
			margin-left: 1%;
		}
		&:nth-of-type(2n + 1) {
			margin-left: 0;
		}
	}

	.facebook-list .item {
		width: 49%;
		margin-left: 1%;
		margin-bottom: 20px;
		&:nth-of-type(3n + 1) {
			margin-left: 1%;
		}
		&:nth-of-type(2n + 1) {
			margin-left: 0;
		}
	}
}

@include mq("tablet-small") {
	.bbs-status .bbs-search .inputbox {
		position: relative;

		&.inputtext {
			input {
				width: 200px;
				padding-right: 40px;
			}
			button {
				position: absolute;
				width: 36px;
				height: 38px;
				right: 0;
				top: 0;

				span {
					font-size: 0;
					position: absolute;
					top: 7px;
					left: 9px;
				}
			}
		}
	}

	.board-view {
		.titlearea {
			padding: 15px;

			h4 {
				font-size: 16px;
			}
			.date-view {
				margin-top: 10px;
				li {
					font-size: 13px;
				}
			}
		}
		.board-content {
			padding: 20px;
			font-size: 14px;
			line-height: 1.4;
		}
	}

	.contents-width.mt-150 {
		margin-top: 70px;
	}
	.sns-logo {
		margin-bottom: 10px;
	}
}
@include mq("phone-wide") {
	.bbs-status {
		flex-wrap: wrap;
		.count,
		.bbs-search {
			width: 100%;
		}
		.bbs-search .inputbox {
			&.inputtext {
				width: calc(100% - 90px);

				input {
					width: 100%;
				}
			}
		}
	}
	.bbs-list {
		.row {
			padding: 15px 0;

			.b-content {
				.b-tit {
					padding-top: 0;
					font-size: 16px;
				}
				.b-cnt {
					font-size: 13px;
					height: 40px;
				}
				.b-desc {
					margin-top: 10px;
					li {
						font-size: 12px;

						&.b-writer::before {
							top: 4px;
						}
						&.b-view {
							display: block;
							margin-top: 3px;
							margin-left: 0;
							span::before {
								top: 3px;
							}
						}
					}
				}
			}
		}
	}

	.pagination a {
		margin: 0 1px;
	}

	.youtube-list .item {
		width: 100%;
		height: 295px;
		margin: 10px 0 !important;

		.thumb {
			height: 200px;
			overflow: hidden;
			img {
				height: auto;
			}
		}
		.desc {
			.cnt {
				strong {
					font-size: 14px;
					height: 40px;
				}
				.date {
					font-size: 12px;
					margin: 0;
				}
			}
		}
	}

	.facebook-list .item {
		width: 100%;
		height: auto;
		margin: 10px 0 !important;

		&.type-img {
			.thumb {
				height: 200px;
				overflow: hidden;
				img {
					height: auto;
				}
			}

			.desc {
				padding: 15px;

				.date {
					font-size: 12px;
				}

				.title {
					font-size: 13px;
					height: 40px;
				}
			}
		}
		&.type-txt {
			padding: 15px 20px;
			.desc {
				.date {
					font-size: 12px;
					margin-bottom: 10px;
				}
				.title {
					font-size: 13px;
					height: auto;
					max-height: 100px;
				}
			}
		}
	}
}

@include mq("phone") {
	.bbs-list .row {
		flex-wrap: wrap;

		.b-num {
			display: none;
		}
		.b-thumb {
			width: 100%;
			text-align: center;
		}
		.b-content {
			width: 100%;
			margin-top: 15px;
			padding: 0;
		}
	}
}
