/* 
    font-family: "Noto Sans KR", sans-serif; 

    light 300 
    regular 400
    medium 500
    bold 700
*/
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans KR Light"), local("NotoSansKR-Light"),
		url("../fonts/noto-sans-kr-v12-latin_korean-300.woff2") format("woff2"),
		url("../fonts/noto-sans-kr-v12-latin_korean-300.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
		url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff2") format("woff2"),
		url("../fonts/noto-sans-kr-v12-latin_korean-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
		url("../fonts/noto-sans-kr-v12-latin_korean-500.woff2") format("woff2"),
		url("../fonts/noto-sans-kr-v12-latin_korean-500.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
		url("../fonts/noto-sans-kr-v12-latin_korean-700.woff2") format("woff2"),
		url("../fonts/noto-sans-kr-v12-latin_korean-700.woff") format("woff");
}

/*---------------------------------------------
    MIXIN
    @include pseudo 
    @include push--auto; 
    @include ellipsis(100%);
    @include mq('contents') { }
    @include 
    @include 

---------------------------------------------*/
@mixin pseudo($display: block, $pos: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}
}

@mixin responsive-ratio($x, $y, $pseudo: false) {
	$padding: unquote(($y / $x) * 100 + "%");

	@if $pseudo {
		&:before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}

@mixin ellipsis($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

$breakpoints: (
	"phone": 400px,
	"phone-wide": 480px,
	"phablet": 560px,
	"tablet-small": 640px,
	"tablet": 768px,
	"tablet-wide-m": 860,
	"tablet-wide": 1024px,
	//"contents": 1280px,
	"desktop-1600": 1600px,
	"contents": 1425px,
	"desktop-1200": 1200px,
);

@mixin mq($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type==max {
			$width: $width - 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

$contentWidth: 1425px;
$primary-red: #ed1b23;
$primary-black: #333;

.col-red {
	color: $primary-red !important;
	* {
		color: $primary-red;
	}
}
.bg-red {
	background-color: $primary-red;
}

.col-dark {
	color: $primary-black !important;
	* {
		color: $primary-black;
	}
}

.bg-dark {
	background-color: $primary-black;
}

/*
    VARIABLES 
*/
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.flex-b {
	display: flex;
	justify-content: space-between;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

::-moz-selection {
	background: #dfffb1;
}
::selection {
	background: #dfffb1;
}
::-webkit-input-placeholder {
	color: #999;
	font-size: 15px;
}
:-ms-input-placeholder {
	color: #999;
	font-size: 15px;
}
::-ms-input-placeholder {
	color: #999;
	font-size: 15px;
}
::placeholder {
	color: #999;
	font-size: 15px;
}

* {
	outline: none;
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}

select {
	background-image: url("../img/ico_sel.png");
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-left: 10px;
	padding-right: 15px;
	color: #666;
	border-radius: 0;
	background-color: #fff;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
}
input,
select,
button {
	font-family: "Noto Sans KR", "Nanum Gothic", "dotum", "Malgun Gothic", arial,
		sans-serif;
	font-weight: 400; // regular
}

/////margin

.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-15 {
	margin-top: 15px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-50 {
	margin-top: 50px !important;
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

img {
	max-width: 100%;
}

/*
    RADIO, CHECKBOX

      <label class="container"> SOME TEXT
	    <input type="radio" name="radio">
	    <span class="checkmark"></span>
      </label>
    
*/

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 22px;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
	letter-spacing: -1px;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: #fff;
		border: 1px solid #cfcfcf;
		border-radius: 3px;

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}

	&:hover input ~ .checkmark {
		background-color: #ddd;
	}

	input:checked ~ .checkmark {
		background: #ed1b23 url("../img/ico_check.png") no-repeat center;
		border-color: #ed1b23;
	}

	input:checked ~ .checkmark:after {
		display: block;
	}
}

.radio-container {
	display: block;
	position: relative;
	padding-left: 22px;
	cursor: pointer;
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	user-select: none;
	letter-spacing: -1px;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.checkmark {
		position: absolute;
		top: 3px;
		left: 0;
		height: 13px;
		width: 13px;
		background-color: #fff;
		border: 1px solid #585858;
		border-radius: 50%;

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 2px;
			left: 2px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: #585858;
		}
	}

	input:checked ~ .checkmark {
		background-color: #fff;
	}

	input:checked ~ .checkmark:after {
		display: block;
	}
}

.box-msg {
	border: 2px solid #ed1b23;
	text-align: center;
	font-size: 20px;
	line-height: 1.2;
	padding: 25px 20px;
	color: #ed1b23;
	font-weight: 500;
}

/*
    LIST STYLE
*/

.tit-caution {
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;

	span {
		color: #333;
		font-size: 18px;
		font-weight: 500;
		display: block;
		padding-left: 23px;

		&::before {
			content: "";
			border: 3px solid #ed1b23;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 5px;
			display: block;
		}
	}
}
.li-notify {
	& > li {
		padding-left: 20px;
		position: relative;
		font-weight: 500;
		margin-top: 10px;

		color: #666;
		&::before {
			content: "※";
			position: absolute;
			left: 0;
			top: 0;
			color: #666;
		}

		b,
		a {
			color: #ed1b23;
			font-weight: 500;
		}
	}
}

.li-dash {
	& > li {
		padding-left: 10px;
		position: relative;
		margin-top: 3px;
		line-height: 1.5;
		color: #333;

		&::before {
			content: "";
			width: 4px;
			height: 1px;
			background: #333;
			position: absolute;
			top: 10px;
			left: 0;
		}

		b,
		&.emp {
			color: #ed1b23;
			&::before {
				background: #ed1b23;
			}
		}
	}
}

.li-dot-big {
	& > li {
		padding-left: 15px;
		position: relative;
		color: #333;
		font-size: 18px;
		padding-bottom: 15px;
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}

		&::before {
			content: "";
			width: 4px;
			height: 4px;
			background: #333;
			position: absolute;
			left: 0;
			top: 11px;
			border-radius: 50%;
		}
	}
}

.li-dot {
	margin-left: 10px;
	margin-top: 20px;
	& > li {
		margin-top: 8px;
		color: #666;
		font-size: 15px;
		position: relative;
		padding-left: 10px;

		&::before {
			content: "";
			width: 4px;
			height: 4px;
			background: #333;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 7px;
		}
	}
}
.li-basic {
	li {
		font-size: 14px;
		color: #666;
		margin-top: 10px;
	}
}
.li-basic2 {
	li {
		font-size: 14px;
		color: #666;
		margin-top: 5px;
	}
}

.li-star {
	margin-top: 20px;
	li {
		padding-left: 15px;
		position: relative;
		font-size: 16px;
		letter-spacing: -1px;
		color: #666;
		margin-top: 10px;
		&::before {
			content: "*";
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

.li-canc {
	& > li {
		margin-top: 30px;
		color: #666;
		b {
			font-weight: 500;
			color: #333;
		}
	}
	.li-dot {
		margin-top: 10px;
	}

	ul {
		padding-left: 15px;
		li {
			margin-top: 5px;
		}
	}
}

/*
    TABLE STYLE
*/
.tb-type01 {
	border-top: 1px solid #333333;
	table {
		width: 100%;
		font-size: 16px;
		text-align: center;
	}
	th,
	td {
		font-weight: 400;
		color: #666;
		padding: 9px 15px;
		border-bottom: 1px solid #e3e3e3;
	}
	thead {
		th,
		td {
			font-weight: 500;
			color: #333;
			border-bottom: 1px solid #b6b6b6;
		}
	}
}

.tb-type02 {
	border-top: 1px solid #333333;
	margin-top: 20px;
	overflow: hidden;
	table {
		width: 100%;
		font-size: 16px;
		text-align: center;
		font-size: 15px;
		margin-left: -1px;
	}

	&.align-left {
		overflow: hidden;
		table {
			text-align: left;
			margin-left: -1px;
		}
	}
	th,
	td {
		padding: 15px 15px;
		line-height: 1.5;
		font-weight: 400;
		color: #666;
		border-bottom: 1px solid #e3e3e3;
		border-left: 1px solid #e3e3e3;
	}
	thead {
		th {
			font-weight: 500;
			color: #333;
			border-bottom: 1px solid #b6b6b6;
			border-left: 1px solid #e3e3e3;
			text-align: center;
			background: #fafafa;
		}
	}

	.li-star li {
		font-size: 15px;
	}
}

/*
    INPUT
*/

.inputbox {
	position: relative;

	input,
	select {
		width: 100%;
		border: none;
		padding: 0 0 0 10px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: #fff;
		letter-spacing: -1px;
		border: 1px solid #ddd;
	}
	input,
	select,
	textarea {
		font-size: 16px;

		&::placeholder {
			font-size: 16px;
			color: #666;
		}
	}
	input[type="file"] {
		border: none;
		padding: 0;
		outline: none;
		box-shadow: none;
	}
	textarea,
	select {
		border: 1px solid #ddd;
		background-color: #fff;
	}
	textarea {
		padding: 20px;
		line-height: 1.6;
		width: 100%;
		min-height: 160px;
	}

	&.inputbox__inline {
		display: inline-block;
		vertical-align: middle;
	}

	&.input-long {
		width: 70%;
	}
	&.input-mid {
		width: 300px;
	}
	&.input-short {
		width: 22%;

		select {
			appearance: none;
		}
	}
	&.input-checknum {
		position: relative;
		width: 360px;
		input {
			width: 100%;
		}
		.btn-check {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

/* 
    BUTTONS
*/

.btn-area {
	text-align: center;
	letter-spacing: -10px;
	margin: 40px auto;

	a {
		display: inline-block;
		letter-spacing: 0;
		width: 170px;
		height: 46px;
		line-height: 46px;
		margin: 0 2px;
	}
}

.ico-search {
	width: 40px;
	height: 40px;
	background: url("../img/ico_search.png") no-repeat center center;
	border: none;
	display: block;
	font-size: 0;
}

.btn-red {
	height: 52px;
	line-height: 52px;
	background: #ed1b23;
	text-align: center;
	color: #fff !important;
	font-size: 16px;
	font-weight: 500;
	display: block;
	letter-spacing: -1px;

	& > * {
		color: #fff;
	}

	&.big {
		height: 60px;
		line-height: 60px;
		display: block;
		font-size: 20px;
	}
}

.btn-dark {
	height: 52px;
	line-height: 52px;
	background: #333;
	text-align: center;
	color: #fff !important;
	font-size: 16px;
	font-weight: 500;
	display: block;
	letter-spacing: -1px;
	& > * {
		color: #fff;
	}

	&.big {
		height: 60px;
		line-height: 60px;
		display: block;
		font-size: 24px;
	}
}

/*
    TAB
*/

.sub-common-tab {
	ul {
		letter-spacing: -10px;
		position: relative;

		&::after {
			content: "";
		}
	}
	li {
		overflow: hidden;
		position: relative;
		width: 25%;
		height: 60px;
		line-height: 60px;
		letter-spacing: -1px;
		display: inline-block;
		background: #eee;
		font-size: 18px;
		font-weight: 500;
		color: #999;
		text-align: center;
		border: 1px solid #b6b6b6;
		border-left: none;
		border-bottom: 1px solid #333;
		cursor: pointer;

		&:first-child {
			border-left: 1px solid #b6b6b6;
		}

		&.on {
			color: #333;
			background: #fff;
			border: 1px solid #333;
			border-bottom: 1px solid transparent;
		}
	}
}

.sub-common-tcnt {
	display: none;
	font-size: 16px;
	line-height: 1.5;
	color: #666;
	letter-spacing: -1px;

	&.on {
		display: block;
		padding: 30px;
	}

	.tab-subtit {
		font-size: 20px;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		margin-top: 50px;
		margin-bottom: 15px;
		color: #333;

		&.noline {
			border-bottom: none;
		}

		&.tab-subtit-rate {
			border-bottom: 2px solid #333;
			margin-bottom: 0;
		}

		span {
			color: #666;
			font-weight: 400;
		}

		&:nth-of-type(1) {
			margin-top: 0;
		}

		&.noline {
			border-bottom: none;
			padding: 0;
		}
	}
}

@include mq("contents") {
}
@include mq("tablet-wide") {
	.btn-red {
		&.big {
			font-size: 18px;
		}
	}
}
@include mq(" tablet") {
	.li-dot-big > li {
		font-size: 16px;
	}
	.tb-type01 {
		table {
			font-size: 14px;
		}
		th,
		td {
			padding: 9px;
		}
	}
	.li-notify li {
		font-size: 14px;
		margin-top: 5px;
	}
	.sub-common-tab li {
		font-size: 16px;
		height: 50px;
		line-height: 50px;
	}

	.sub-common-tcnt {
		font-size: 14px;

		.tab-subtit {
			font-size: 18px;
		}
		&.on {
			padding: 30px 2%;
		}
	}
}
@include mq("tablet-small") {
	//640
	.checkbox-container,
	.radio-container {
		font-size: 14px;
		padding-left: 20px;
	}

	.box-msg {
		font-size: 15px;
		padding: 15px;
		margin: 20px auto;
	}
	.tb-type01,
	.tb-type02 {
		table {
			font-size: 13px;
		}
	}
	.tb-type02 {
		.li-star li {
			font-size: 13px;
		}
	}
	.li-dot-big > li {
		font-size: 15px;
		margin-top: 20px;
	}

	.li-notify,
	.li-dot,
	.li-basic,
	.li-basic2,
	.li-star,
	.li-canc {
		& > li {
			font-size: 13px;
			margin-top: 4px;
		}
	}

	.li-canc > li {
		font-size: 13px;
		margin-top: 20px;
	}

	.inputbox {
		select,
		input {
			font-size: 13px;
			&::placeholder {
				font-size: 13px;
			}
		}
		&.input-checknum {
			width: auto;
		}
	}

	.sub-common-tab {
		ul {
			display: flex;
			width: 100%;
		}
		li {
			font-size: 13px;
			width: auto;
			flex: auto;
		}
	}
	.sub-common-tcnt {
		font-size: 13px;

		&.on {
			padding: 25px 15px;
		}
		.tab-subtit {
			font-size: 15px;
			margin-top: 40px;
			padding-bottom: 5px;
			margin-bottom: 10px;
		}
	}

	.btn-area {
		display: flex;
		margin: 20px auto;
		justify-content: center;
		a {
			margin: 0 1px;
		}
	}

	.btn-red {
		height: 40px;
		line-height: 40px;
		font-size: 14px;

		&.big {
			height: 40px;
			line-height: 40px;
			font-size: 14px;
		}
	}
}
@include mq("phone-wide") {
	.checkbox-container,
	.radio-container {
		font-size: 13px;
		padding-left: 20px;
	}
}
@include mq("phone") {
}
