.doc-title {
	font-size: 46px;
	text-align: center;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 50px;
}
.sub-cs {
	padding: 100px 0;
}

.cs-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	padding-bottom: 15px;
}
.cs-tab-type {
	ul {
		display: flex;
		justify-content: space-between;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
		li {
			width: 33.333%;

			color: #666;
			background: #eee;
			cursor: pointer;
			text-align: center;
			font-size: 20px;
			border-left: 1px solid #ddd;

			&:first-child {
				border-left: none;
			}

			a {
				color: #666;
				display: block;
				height: 60px;
				line-height: 60px;
			}

			&.on {
				background: #ed1b23;
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
	}
}

.cs-search {
	margin: 40px auto;
	background: #fafafa;
	padding: 30px;
	border: 1px solid #ddd;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;

	select,
	input,
	button {
		height: 50px;
		line-height: 50px;
		display: inline-block;
	}
	select,
	input {
		border: 1px solid #ccc;
		background-color: #fff;
		padding-left: 15px;
		font-family: "Noto Sans KR", sans-serif;
	}
	select {
		width: 160px;
	}
	.inputbox {
		margin: 0 10px;
		width: 480px;
		display: inline-block;
		input {
			width: 100%;
		}
	}
	button {
		background: #ed1b23;
		color: #fff;
		width: 115px;

		span::before {
			content: "";
			width: 21px;
			height: 20px;
			background: url("../img/ico_search_w.png") no-repeat;
			vertical-align: middle;
			display: inline-block;
			margin-right: 5px;
		}
	}

	.keywords {
		position: relative;
		padding-left: 90px;
		//margin-left: 10px;
		margin-top: 10px;
		strong {
			position: absolute;
			background: #989898;
			color: #fff;
			font-size: 14px;
			left: 0;
			top: 0;
			letter-spacing: -1px;
			padding: 0 5px;
		}
		ul {
			text-align: left;

			li {
				display: inline-block;
				vertical-align: top;
				padding-left: 20px;
				position: relative;
				font-size: 14px;

				a {
					color: #777777;
				}
				&:first-child {
					padding-left: 0;
					&::before {
						display: none;
					}
				}

				&::before {
					content: "";
					position: absolute;
					left: 8px;
					top: 4px;
					width: 1px;
					height: 12px;
					background: #989898;
				}
			}
		}
	}
}

.sub-cs-main {
	padding: 100px 0 0 0;

	.cs-search-main {
		text-align: center;
		.inputbox {
			position: relative;
			width: 630px;
			display: inline-block;
			vertical-align: top;
			input {
				width: 100%;
				height: 50px;
				line-height: 50px;
				border: 1px solid #ccc;
				padding-left: 10px;
			}
			.search {
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				height: 50px;
				line-height: 50px;
				background: url("../img/ico_search.png") no-repeat center;
				display: block;
				font-size: 0;
			}
		}

		.btn-inquiry {
			background: #ed1b23;
			color: #fff;
			height: 50px;
			line-height: 50px;
			width: 140px;
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
		}
	}

	.cs-main-contents {
		padding: 20px 0 100px 0;
		margin-top: 20px;
		background-color: #f5f5f5;

		.cs__shortcut {
			width: $contentWidth;
			@include push--auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 20px auto;

			a,
			.cs04 {
				display: block;
				height: 217px;
				margin: 0 1px;
				background-color: #fff;
				width: 25%;
				padding: 35px;
				position: relative;
				&::after {
					content: "";
					background-image: url("../img/ico_cs_main.png");
					background-repeat: no-repeat;
					width: 68px;
					height: 57px;
					position: absolute;
					right: 45px;
					bottom: 53px;
				}

				h4 {
					font-size: 30px;
					color: #ed1b23;
					font-weight: 500;
					letter-spacing: -2px;
					line-height: 1;
				}
				p {
					font-size: 16px;
					color: #666;
					margin-top: 25px;
				}

				.call {
					font-size: 35px;
					color: #ed1b23;
					margin-top: 15px;

					span {
						display: block;
						font-size: 16px;
						color: #666;
					}
				}
				&.cs01 {
					&::after {
						background-position: 0 0;
					}
				}
				&.cs02 {
					&::after {
						background-position: -68px 0;
					}
				}
				&.cs03 {
					&::after {
						background-position: -136px 0;
					}
				}
				&.cs04 {
					&::after {
						background-position: -204px 0;
					}
					h4 {
						color: #333;
					}
				}
			}
		}

		.cs__board {
			width: $contentWidth;
			@include push--auto;
			display: flex;
			justify-content: space-between;

			& > .board {
				width: 49%;
				background-color: #fff;
				padding: 30px;
				position: relative;
				.tit02 {
					margin-top: 0;
				}

				.list {
					li {
						display: block;
						border-bottom: 1px solid #ccc;

						a {
							display: block;
							@include ellipsis(100%);
							line-height: 50px;
							height: 50px;
							padding: 0 10px;
							color: #666;
							letter-spacing: -1.3px;
							font-size: 15px;
						}
					}
				}

				.btn-more {
					width: 15px;
					height: 15px;
					position: absolute;
					right: 30px;
					top: 30px;
					background: url("../img/ico_cs_more.png") no-repeat;
					display: block;
				}
			}
		}
	}
}
.tab-cs-top {
	ul {
		display: flex;
		justify-content: space-between;

		li {
			border: 1px solid #b6b6b6;
			border-bottom: 1px solid #333;
			background-color: #fff;
			width: 25%;
			text-align: center;
			height: 60px;
			line-height: 60px;
			font-size: 20px;
			font-weight: 500;
			color: #999;
			cursor: pointer;
			border-left: none;

			a {
				font-weight: 500;
			}
			&:first-child {
				border-left: 1px solid #b6b6b6;
			}

			&.on {
				color: #333;
				border: 1px solid #333;
				border-bottom: none;
				&:first-child {
					border-left: 1px solid #333;
				}
			}
		}
	}
}
.tab-cs-cnt {
	display: none;

	&.on {
		display: block;
		padding: 30px 0;
	}
}

//FAQ
.board-faq {
	font-size: 15px;
	.faq-header {
		background-color: #fafafa;
		border-top: 1px solid #333;
		border-bottom: 1px solid #d7d7d7;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	.row {
		border-bottom: 1px solid #d7d7d7;
		.q-tit-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.b-que {
				a {
					display: block;
					position: relative;
					padding-left: 40px;
					padding-top: 5px;

					&::before {
						content: "";
						width: 33px;
						height: 33px;
						background: url("../img/ico_q.png") no-repeat;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}

		.q-cnt {
			display: none;
			border-top: 1px solid #d7d7d7;
			background: #fafafa;
			padding: 20px 20px 20px 15%;

			.inner {
				padding-left: 43px;
				font-size: 14px;
				color: #666666;
				line-height: 1.4;
				font-weight: 500;
			}
			.estimate {
				margin-top: 40px;
				color: #333;

				.estimate-tit {
					position: relative;
					padding-bottom: 15px;
					strong {
						position: absolute;
						left: 0;
						top: 0;
					}
					ul {
						padding-left: 250px;
						li {
							display: inline-block;
							margin-left: 30px;

							&:first-child {
								margin-left: 0;
							}
							label {
								font-size: 14px;
								padding-left: 19px;
							}
						}
					}
				}

				.text {
					width: 100%;
					textarea {
						width: 100%;
						border: 1px solid #d7d7d7;
						padding: 10px;
						height: 140px;
					}

					.limit {
						text-align: right;
						color: #999;
						font-size: 12px;
					}

					button.confirm {
						width: 110px;
						height: 42px;
						line-height: 42px;
						text-align: center;
						color: #fff;
						display: block;
						margin: 10px auto 0;
						background: #222;
					}
				}
			}
		}
	}
	p {
		font-weight: 500;
	}
	.b-cate {
		width: 15%;
		text-align: center;
		padding: 15px 10px;
	}
	.b-que {
		width: 85%;
		padding: 15px 10px 15px 0;
	}

	.faq-body {
		.b-cate {
			color: #666;
		}
	}
}

.inq-list-top {
	margin: 40px auto;
	font-size: 16px;
	position: relative;

	li {
		margin-top: 7px;
		color: #666;
		&:first-child {
			color: #333;
		}
	}

	.btn-inquiry {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 170px;
		height: 46px;
		line-height: 46px;
	}
}

.my-title {
	border-bottom: 1px solid #ddd;
	position: relative;
	margin-top: 40px;
	margin-bottom: 50px;
	span {
		display: inline-block;
		font-size: 20px;
		font-weight: 500;
		color: #ed1b23;
		width: 425px;
		position: relative;
		border-bottom: 3px solid #ed1b23;
		padding-bottom: 15px;
		bottom: -1px;
		left: 0;
		padding-left: 15px;

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			display: inline-block;
			background: #ed1b23;
			margin-right: 10px;
			vertical-align: middle;
		}
	}
}

.tit01 {
	font-weight: 700;
	color: #333;
	font-size: 20px;
	line-height: 1;
	padding-bottom: 10px;
	margin-top: 40px;
}
.tit02 {
	font-size: 20px;
	font-weight: 700;
	color: #333;
	line-height: 1;
	padding-bottom: 10px;
	margin-top: 40px;
	border-bottom: 2px solid #333;
}
.my-t {
	color: #666;
	font-size: 16px;
	line-height: 1.3;
}

.tab-info-manage {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	a {
		display: block;
		width: 33.33%;
		text-align: left;
		font-size: 20px;
		font-weight: 500;
		color: #ccc;
		padding-left: 30px;
		line-height: 55px;
		height: 55px;
		position: relative;
		border-bottom: 3px solid #ccc;

		&::before {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			background: #ccc;
			border-radius: 50%;
			left: 10px;
			top: 24px;
		}

		&.on {
			color: #ed1b23;
			border-bottom: 3px solid #ed1b23;
			&::before {
				background: #ed1b23;
			}
		}
	}
}

.tab-joinprocess {
	ul {
		display: flex;
		justify-content: space-between;
	}

	li {
		display: block;
		width: 33.33%;
		text-align: center;
		font-size: 20px;
		font-weight: 300;
		color: #ccc;
		line-height: 80px;
		height: 80px;
		position: relative;
		border-bottom: 3px solid #ccc;
		span {
			text-transform: uppercase;
			font-weight: 500;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -11px;
			width: 12px;
			height: 22px;
			background: url("../img/ico_arr_process_next.png") no-repeat;
		}

		&:first-child {
			&::before {
				display: none;
			}
		}

		&.current {
			color: #ed1b23;
			border-bottom: 3px solid #ed1b23;
		}
	}
}

//기간별조회
.my-period {
	margin: 30px auto 50px auto;
	.per,
	button {
		display: inline-block;
		vertical-align: top;
	}
	.per {
		overflow: hidden;
		&:nth-of-type(2) {
			margin-left: 50px;
		}
		.tit {
			float: left;
			font-weight: 700;
			color: #333;
			padding-right: 15px;
			line-height: 36px;
		}

		ul {
			float: left;
			overflow: hidden;
			li {
				float: left;
				border: 1px solid #ddd;
				border-left: none;
				&:first-child {
					border-left: 1px solid #ddd;
				}

				a {
					display: block;
					width: 70px;
					height: 36px;
					line-height: 36px;
					text-align: center;
					color: #666;
				}

				&.active {
					a {
						background: #ed1b23;
						color: #fff;
						border-color: #ed1b23;
					}
				}

				select {
					width: 110px;
					height: 36px;
					line-height: 36px;
					border: none;
					margin-left: 2px;
				}
			}
		}

		&.per-monthly {
			ul li {
				margin-left: 10px;
				border-left: 1px solid #ddd;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.btn-go {
		width: 90px;
		height: 38px;
		line-height: 38px;
		background: #ed1b23;
		color: #fff;
		font-size: 16px;
		text-align: center;
	}
}

.member-container {
	text-align: center;
	padding: 60px 0;
	font-size: 16px;

	.mem-ico {
		text-align: center;

		color: #666;

		h5,
		p {
			font-weight: 300;
			letter-spacing: -1px;
		}
		h5 {
			font-size: 26px;
			line-height: 1;
			padding-bottom: 10px;
		}

		&.lock {
			&::before {
				content: "";
				width: 126px;
				height: 126px;
				display: block;
				margin: 0 auto 20px auto;
				background: url("../img/ico_lock.png") no-repeat;
			}
		}
		&.lock-un {
			&::before {
				content: "";
				width: 126px;
				height: 126px;
				display: block;
				margin: 0 auto 20px auto;
				background: url("../img/ico_unlock.png") no-repeat;
			}
		}
	}

	.inputarea {
		width: 550px;
		@include push--auto;
		margin-top: 25px;
		text-align: left;

		.user-txt {
			font-size: 18px;
			color: #333;
			font-weight: 500;
			padding-bottom: 20px;
			strong {
				color: #ed1b23;
				font-weight: 500;
			}
		}

		.inputbox {
			width: 100%;

			& + .inputbox {
				margin-top: 10px;
			}
			input {
				width: 100%;
				height: 50px;
				line-height: 50px;
				border: 1px solid #cfcfcf;
				padding-left: 20px;
				font-size: 16px;
				color: #999;
				&::placeholder {
					font-size: 16px;
					font-family: "Noto Sans KR", sans-serif;
					letter-spacing: -1px;
				}
			}
		}

		.txt {
			color: #666;
		}
	}
}
.member-edit {
	font-size: 18px;
	line-height: 1.5;

	.info-form {
		.row {
			display: flex;
			justify-content: start;
			align-items: top;
			padding-top: 22px;

			&.row-line {
				padding-bottom: 20px;
				border-bottom: 1px solid #ddd;
			}

			.tit {
				width: 140px;
				position: relative;
				padding-left: 25px;

				&::before {
					content: "";
					width: 4px;
					height: 4px;
					background: #333;
					border-radius: 50%;
					position: absolute;
					left: 10px;
					top: 12px;
				}
			}

			.cnt {
				width: 360px;
				color: #666;
				font-size: 16px;
				line-height: 1.2;

				.inputbox {
					position: relative;
					input[type="text" i],
					select {
						border: 1px solid #ddd;
						line-height: 45px;
						height: 45px;
						margin: 0;
						padding: 0 0 0 14px;
					}
					input::placeholder {
						font-size: 16px;
					}

					.limit {
						color: #ed1b23;
						font-size: 12px;
						position: absolute;
						right: 11px;
						top: 14px;
					}

					//email confirm form
					&.confirm-e {
						margin-top: 20px;
						display: flex;
						justify-content: space-between;
						align-items: top;
						input {
							width: 74%;
							margin-top: 1%;
							margin: 0;
						}
						select {
							width: 25%;
						}
					}

					&.confirm-code {
						margin-top: 10px;
						input {
							width: 100%;
						}
					}
				}
			}
		}
		.btn-edit,
		.btn-edit-r {
			color: #fff;
			width: 65px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			position: absolute;
			right: 0;
			top: -5px;
		}
		.btn-edit {
			background: #4d4d4d;
		}
		.btn-edit-r {
			background: #ed1b23;
		}
	}
	.check-agree {
		margin-top: 25px;
		padding-left: 10px;
		label {
			color: #666;
			font-weight: 500;
			font-size: 18px;
		}
	}
}
//회원탈퇴
.member-quit {
	.quit-tit {
		font-weight: 500;
		font-size: 18px;
		line-height: 1;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.quit-guide {
		padding-bottom: 40px;
		border-bottom: 1px solid #ddd;
	}

	.quit-reasons-check {
		padding: 30px 30px 20px 30px;
		border-bottom: 1px solid #ddd;

		.quit-tit {
			margin-top: 0;
			margin-bottom: 25px;
		}

		.check-list {
			padding-left: 20px;
			li {
				margin-top: 15px;
				label {
					font-size: 16px;
				}

				&.other {
					margin-top: 25px;

					.inputbox {
						margin-top: 10px;
					}
					textarea {
						width: 100%;
						height: 160px;
						border: 1px solid #ddd;
					}
				}
			}
		}
	}
	.check-agree {
		text-align: center;
		.agree-quit {
			text-align: center;
			margin: 30px auto;

			display: inline-block;
			font-size: 18px;
		}
	}
}
.mem-btns {
	margin-top: 20px;
	text-align: center;
	letter-spacing: -10px;

	&.btns-full {
		a {
			width: 100%;
			margin: 5px 0 0 0;
		}
	}
	a {
		display: inline-block;
		width: 150px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.mybg {
	background: #f5f5f5;
	padding: 100px 0;
	margin-top: -100px;
}
.process-complete {
	text-align: center;

	h5 {
		font-size: 31px;
		font-weight: 400;
		line-height: 1;
	}
	.box-msg-w {
		border: 1px solid #ccc;
		padding: 70px 100px;
		text-align: center;
		width: 620px;
		background: #fff;
		margin: 30px auto;
		font-size: 18px;
	}
}

.join-agree-terms {
	width: $contentWidth;
	@include push--auto;

	.agree-item {
		margin-bottom: 20px;

		label {
			font-size: 16px;
		}

		.termbox {
			height: 210px;
			overflow: auto;
			width: 100%;
			padding: 15px;
			color: #666;
			background: #fff;
			margin-top: 10px;
			border: 1px solid #ccc;
		}
	}
}

///회원가입 정보입력
.join-input {
	width: 850px;
	@include push--auto;
	text-align: left;
	font-size: 16px;
	.txt {
		color: #666;
	}

	.container {
		border-top: 2px solid #222;
		background: #fff;
		padding: 40px 100px;
		margin-top: 20px;

		.row {
			display: flex;
			align-items: center;

			& + .row {
				margin-top: 10px;
			}

			.tit {
				width: 155px;
				strong {
					font-weight: 500;
				}
			}
			.inputbox {
				width: 350px;

				input {
					width: 100%;
					height: 52px;
					line-height: 52px;
					border: 1px solid #ccc;
				}
			}

			&.confirmcode {
				.tit {
					line-height: 52px;
				}
				.inputbox {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					width: 485px;

					input {
						width: 350px;
					}
					.btn-code {
						width: 127px;
						color: #fff;
						background: #222;
						font-size: 16px;
						display: block;
						height: 52px;
						line-height: 52px;
					}
				}
			}
		}
		.txt-code {
			display: block;
			width: 100%;
			margin-top: 10px;
			color: #666;
			padding-left: 155px;
		}
	}
}
//login
.login-container {
	width: 550px;
	@include push--auto;

	.login {
		display: flex;
		justify-content: space-between;

		.login-input {
			width: 422px;

			.inputbox + .inputbox {
				margin-top: 10px;
			}
			input {
				width: 100%;
				height: 52px;
				border: 1px solid #ddd;
				background: #f5f5f5;
				line-height: 52px;
				padding-left: 10px;

				&::placeholder {
					font-size: 16px;
				}
			}
		}
		.btn-login {
			width: 120px;
			background: #ed1b23;
			color: #fff;
			font-size: 18px;
		}
	}

	.autologin {
		margin-top: 20px;
		text-align: right;
		margin-bottom: 30px;
		label {
			font-size: 18px;
			color: #222222;
			display: inline-block;
			letter-spacing: -1px;
			line-height: 20px;
			padding-left: 25px;
		}
		.checkbox-container .checkmark {
			width: 20px;
			height: 20px;
		}
	}

	.find-id-pw {
		padding-top: 15px;
		border-top: 1px solid #ccc;
		letter-spacing: -10px;
		text-align: center;

		li {
			display: inline-block;
			letter-spacing: -1px;

			a {
				color: #222;
				display: block;
				padding: 0 12px;
				position: relative;
				position: relative;
			}
			&:not(:first-child) {
				a::before {
					content: "";
					position: absolute;
					width: 1px;
					height: 12px;
					background: #222;
					left: 0;
					top: 6px;
				}
			}
		}
	}

	.ads {
		margin-top: 15px;
		img {
			width: 100%;
			height: 120px;
		}
	}

	.t-user {
		font-size: 18px;
		color: #222;
		font-weight: 500;
		padding: 30px 0 20px 0;
		strong {
			font-weight: 500;
		}
	}
	.txt {
		color: #666;
	}

	//로그인제외 input
	.inputbox {
		& + .inputbox {
			margin-top: 10px;
		}
		input {
			width: 100%;
			height: 52px;
			line-height: 52px;
			border: 1px solid #ccc;
			background-color: #fff;
			padding-left: 15px;

			&::placeholder {
				color: #666;
				font-size: 16px;
			}
		}
	}
	.captcha {
		margin: 40px 0 10px 0;
	}

	.login-btns {
		margin: 40px auto 0 auto;
		text-align: center;

		&.btns-full {
			a {
				display: block;
				width: 100%;
			}
		}

		[class*="btn-"] {
			height: 52px;
			line-height: 52px;
			width: 100%;
			text-align: center;
			display: inline-block;
			font-size: 16px;
		}
		.btn-red {
			background: #ed1b23;
			color: #fff;
		}
	}

	////find password
	.select-type {
		padding: 30px 0 20px 0;

		.radio-container {
			margin-bottom: 20px;
			font-weight: 500;
		}
		&:nth-of-type(1) {
			border-bottom: 1px solid #ccc;
		}

		&.selected {
			.type-container {
				display: block;
			}
		}

		.type-container {
			display: none;
			.inputbox {
				&:nth-of-type(1) {
					margin-top: 30px;
				}

				&.confirmcode {
					display: flex;
					justify-content: space-between;

					input {
						width: calc(100% - 135px);
					}
					.btn-code {
						width: 125px;
						background: #ed1b23;
						color: #fff;
					}
				}
			}
		}
	}
}
@include mq("contents") {
	.sub-cs {
		padding: 60px 2% !important;
	}
	.mybg {
		margin-top: -60px;
		padding: 80px 2%;
	}

	.join-agree-terms {
		width: 100%;
	}

	.sub-cs-main {
		.cs-main-contents {
			padding-left: 2%;
			padding-right: 2%;

			.cs__shortcut,
			.cs__board {
				width: 100%;
			}
			.cs__shortcut a,
			.cs__shortcut .cs04 {
				padding: 30px;
				&::after {
					right: 25px;
					bottom: 23px;
				}
			}
		}
	}
}
@include mq("tablet-wide") {
	.sub-cs-main .cs-main-contents .cs__shortcut a,
	.sub-cs-main .cs-main-contents .cs__shortcut .cs04 {
		padding: 25px;
		h4 {
			font-size: 25px;
		}
		p {
			margin-top: 15px;
			font-size: 14px;
		}
		.call {
			font-size: 25px;
			span {
				font-size: 14px;
			}
		}
	}
	.my-period {
		.per {
			margin-left: 0 !important;

			.tit {
				width: 100px;
			}

			&.per-term {
				display: block;
				margin-bottom: 5px;
			}
		}
	}

	.tab-joinprocess {
		li {
			font-size: 16px;
		}
	}

	.board-faq .row .q-cnt .estimate .estimate-tit {
		ul {
			padding-left: 0;
			margin-top: 5px;
		}
		strong {
			position: static;
		}
	}
}
@include mq("tablet-wide-m") {
	.join-input {
		width: 100%;
		.container {
			padding: 40px;
			.row {
				.inputbox {
					width: 100%;
				}
			}

			.row.confirmcode .inputbox {
				width: 100%;
				input {
					width: 69%;
				}
				.btn-code {
					width: 30%;
				}
			}
			.txt-code {
				padding-left: 0;
				text-align: right;
			}
		}
	}

	.sub-cs-main .cs-search-main .inputbox {
		width: calc(100% - 160px);
	}
}
@include mq("tablet") {
	.tab-cs-top {
		ul li {
			height: 50px;
			line-height: 50px;
			font-size: 18px;
		}
	}
	.sub-cs-main .cs-main-contents {
		padding-bottom: 50px;
		.cs__shortcut {
			flex-wrap: wrap;

			a,
			.cs04 {
				width: calc(50% - 2px);
				margin: 1px;
				height: 170px;
				padding-bottom: 60px;

				&::after {
					right: 10px;
					bottom: 10px;
					transform: scale(0.7);
				}

				h4 {
					font-size: 22px;
				}
				br {
					display: none;
				}
			}
		}
		.cs__board > .board .list li a {
			font-size: 14px;
			line-height: 40px;
			height: 40px;
		}
	}
	.join-agree-terms {
		font-size: 14px;
		.agree-item label {
			font-size: 14px;
		}
	}
	.board-faq .row .q-cnt {
		padding: 15px;
		.inner {
			padding: 0;
			font-size: 13px;
		}
	}
}
@include mq("tablet-small") {
	.sub-cs {
		padding: 50px 2% !important;
	}

	.sub-cs-main {
		padding-top: 50px;
	}
	.doc-title {
		font-size: 35px;
		padding-bottom: 30px;
	}
	.tit02 {
		font-size: 18px;
	}
	.tab-cs-top {
		ul li {
			height: 40px;
			line-height: 40px;
			font-size: 14px;
		}
	}
	.cs-search {
		margin: 20px auto;
		padding: 20px;
		select {
			width: 20%;
		}
		.inputbox {
			width: 60%;
			margin: 0 2px;
		}
		button {
			width: 20%;
		}
		.keywords {
			padding-left: 82px;

			ul li {
				font-size: 12px;
				padding-left: 10px;

				&::before {
					left: 4px;
				}
			}
		}
	}

	.sub-cs-main .cs-main-contents {
		.cs__shortcut {
			a,
			.cs04 {
				width: 100%;
				margin: 1px 0;
				height: auto;
				padding-bottom: 30px;
				padding-right: 80px;
			}
		}
		.cs__board {
			flex-wrap: wrap;

			& > .board {
				width: 100%;
				margin-bottom: 10px;
				padding: 20px;
				.list li a {
					font-size: 13px;
				}
			}
		}
	}

	.cs-tab-type {
		ul {
			li {
				width: 33.333%;

				a {
					height: 50px;
					line-height: 50px;
					font-size: 16px;
				}
			}
		}
	}
	.inq-list-top {
		overflow: hidden;
		margin-bottom: 10px;
		li {
			font-size: 14px;
		}
		.btn-inquiry {
			position: static;
			display: block;
			float: right;
			margin-top: 20px;
			width: auto;
			padding: 0 20px;
		}
	}
	.my-t {
		font-size: 13px;
	}
	.my-period {
		margin: 15px auto;
		font-size: 13px;
		.per {
			display: block;
			.tit {
				padding: 0;
				width: 100%;
				float: none;
				line-height: 1.2;
				padding-bottom: 5px;
			}
			ul {
				float: none;
			}
			&.per-monthly ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				li {
					width: 33.333%;
					margin: 0;
					float: none;

					select {
						width: 100%;
					}
				}
			}
		}
		.btn-go {
			width: 100%;
			margin-top: 5px;
		}
	}
	.my-title {
		margin: 30px 0 20px 0;
		span {
			width: auto;
			padding-right: 30px;
			padding-bottom: 5px;
			font-size: 18px;
		}
	}

	.tab-info-manage a {
		font-size: 16px;
		line-height: 40px;
		height: 40px;
		border-bottom: 2px solid #ccc;
		padding: 0;
		text-align: center;

		&::before {
			display: none;
		}
	}
	.member-container {
		.inputarea {
			width: 100%;
			.user-txt {
				font-size: 15px;
				padding-bottom: 10px;
			}

			.mem-btns {
				margin-top: 5px;
				a {
					margin-top: 5px;
				}
			}
		}
		.mem-ico {
			font-size: 13px;
			h5 {
				font-size: 20px;
			}
		}
	}

	.mem-btns {
		display: flex;
		justify-content: space-between;
		a {
			width: 49%;
			margin: 0;
		}
	}

	.member-edit {
		.info-form .row {
			display: block;
			.tit {
				width: 100%;
				padding-left: 0;
				font-weight: 500;

				&::before {
					display: none;
				}
			}
			.cnt {
				width: 100%;
				margin-top: 10px;
				font-size: 14px;

				.mem-btns {
					flex-wrap: wrap;
					margin-top: 10px;
				}

				.inputbox {
					input[type="text" i] {
						&::placeholder {
							font-size: 14px;
							letter-spacing: -1.2px;
						}
					}
				}
			}
		}
		.check-agree label {
			font-size: 14px;
		}
	}
	.member-quit {
		.quit-tit {
			font-size: 16px;
			margin: 30px 0 10px 0;
		}
		.check-agree {
			.agree-quit {
				font-size: 16px;
			}
		}
		.quit-reasons-check {
			padding: 5%;
			.check-list {
				padding-left: 0;
				li {
					margin-top: 10px;
					font-size: 14px;
					label {
						font-size: 14px;
					}
				}
			}
		}
	}
	.mybg {
		margin-top: -50px;
		padding: 50px 2%;
	}
	.process-complete {
		h5 {
			font-size: 26px;
		}

		.box-msg-w {
			width: 100%;
			font-size: 14px;
			padding: 50px 10px;
			margin: 20px auto 10px auto;
		}
		.mem-btns {
			a {
				display: block;
				width: 100%;
			}
		}
	}

	.tab-joinprocess li {
		line-height: 1.2;
		font-size: 14px;
		height: 70px;
		span {
			display: block;
			padding-top: 20px;
		}
	}

	.login-container {
		width: 100%;
		font-size: 14px;
		.login {
			.login-input {
				width: calc(100% - 130px);
			}
		}
		.autologin {
			label {
				font-size: 14px;
			}
		}

		.find-id-pw li a {
			font-size: 14px;
		}
	}
	.join-input {
		font-size: 14px;
		.container {
			font-size: 14px;
			padding: 3%;
			.row {
				flex-wrap: wrap;
				.tit {
					width: 100%;
					padding-bottom: 5px;
				}
				&.confirmcode {
					.tit {
						line-height: 1.4;
					}
					.inputbox {
						input {
							width: 64%;
						}
						.btn-code {
							width: 35%;
							font-size: 13px;
							letter-spacing: -1px;
						}
					}
				}
			}
			.txt-code {
				text-align: left;
			}
		}
	}

	.mem-join {
		.btn-join {
			width: 100% !important;
		}
	}

	.board-faq {
		.faq-body {
			.b-que {
				width: 100%;
				padding-top: 0;
				padding-left: 10px;
				padding-bottom: 20px;
			}
		}

		.row {
			font-size: 14px;
			.q-tit-wrap {
				flex-wrap: wrap;
				.b-cate {
					width: 100%;
					text-align: left;
					padding: 10px 10px;
				}
			}
			.q-cnt {
				.estimate .estimate-tit ul li {
					width: 49%;
					margin: 0 0 5px 0;
				}
			}
		}
	}
}

@include mq("phone-wide") {
	.doc-title {
		font-size: 30px;
	}
	.my-title {
		margin: 20px 0 10px 0;
		span {
			width: auto;
			padding-right: 20px;
			padding-bottom: 5px;
			font-size: 16px;
		}
	}

	.sub-cs-main {
		.cs-search-main {
			padding: 0 2%;
			.inputbox {
				width: 100%;
			}
			.btn-inquiry {
				margin: 2px 0 0 0;
				width: 100%;
			}
		}

		.cs-main-contents .cs__shortcut {
			margin-top: 0;
			a,
			.cs04 {
				h4 {
					font-size: 18px;
				}
				p {
					margin-top: 10px;
				}
				.call {
					font-size: 18px;
					span {
						display: inline;
					}
				}
			}
		}
	}
	.cs-search {
		flex-wrap: wrap;
		position: relative;

		select {
			width: 30%;
		}
		.inputbox {
			width: 69%;
			margin: 0 0 0 1%;
		}
		button {
			position: absolute;
			right: 20px;
			top: 20px;
			width: 40px;
			height: 40px;
			background: url("../img/ico_search.png") no-repeat center center;
			border: none;
			display: block;
			font-size: 0;
			span {
				font-size: 0;

				&::before {
					display: none;
				}
			}
		}

		select,
		input,
		button {
			height: 40px;
			line-height: 40px;
			font-size: 13px;
		}
		.keywords {
			display: none;
		}
	}

	.board-faq {
		font-size: 13px;
		.row {
			font-size: 13px;
		}
		.faq-header {
			.b-cate {
				width: 25%;
				padding: 10px;
			}
			.b-que {
				width: 75%;
				padding: 10px;
			}
		}
	}

	.cs-tab-type {
		ul {
			li {
				width: 33.333%;
				height: 50px;
				line-height: 50px;
				font-size: 13px;
			}
		}
	}

	.tab-info-manage a {
		font-size: 14px;
	}
	.process-complete {
		h5 {
			font-size: 22px;
		}
	}

	.login-container {
		.select-type .type-container .inputbox.confirmcode {
			flex-wrap: wrap;
			input,
			.btn-code {
				width: 100%;
			}
			.btn-code {
				display: block;
				height: 52px;
				line-height: 52px;
				margin-top: 5px;
			}
		}
		.inputbox {
			& + .inputbox {
				margin-top: 5px;
			}
			input {
				font-size: 14px;
				&::placeholder {
					font-size: 14px;
				}
			}
		}
		.login {
			flex-wrap: wrap;
			.login-input {
				width: 100%;

				.inputbox + .inputbox {
					margin-top: 5px;
				}
			}
			.btn-login {
				width: 100%;
				margin-top: 5px;
				display: block;
				height: 52px;
				line-height: 52px;
			}
		}
	}

	.board-faq .row .q-cnt .estimate .estimate-tit ul li {
		display: block;
		width: 100%;
	}
}
