.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.img_logo {
  left: 30px;
  position: absolute;
  width: 90px;
  padding-top: 13px;
}
.wrapper .img_2 {
  width: calc(100% / 3);
  height: calc(100% / 3);
  padding: 0px;
  margin-top: -4px;
}
@media screen and (width: 640px) {
  .wrapper .img_2 {
    width: calc(100% / 3);
    height: calc(100% / 3);
    padding: 0px;
    margin-top: -4px;
  }
}


.wrapper .thum {
  width: 100%;
  height: calc(100% / 3);
  display: block;
}

@media screen and (width: 1920px) {
  .wrapper .thum {
    width: 100%;
    height: calc(100% / 3);
  }
}

header {
  background-color: #fff;
  color: #212121;
  padding: 0rem;
  width: 1920px;
  height: 80px;
}

a.button-link {
  background-color: #fff;
  color: #212121;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  color: #212121;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

footer {
  background-color: #fff;
  height: 10%;
  color: #212121;
  padding: 1rem;
}

footer .cpInfo {
  text-align: left;
  font-size: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1rem 0;
}
